<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <title>Weather App</title>
  </head>
  <body>
    <form class="task-form" action="/" method="post" id="tdata">
        <h4>Search City</h4>
        <div class="form-control">
            <label for="cityInput"></label>
          <input type="text" name="cityName" class="task-input" id="cityInput" placeholder="Enter Correct Spelling e.g. Mumbai"/>
          <button type="submit" onclick="myFunction()" class="btn submit-btn">Search City</button>
        </div>

        <!-- <div class="form-alert"></div> -->
      </form>

  </body>
  <footer>
   Made With 💖 by <a href="https://www.instagram.com/iprathmesh_patil/">Prathamesh</a>
  </footer>
</html>
